
@font-face{
    font-family: "Ledger";
    src: url("../fonts/Ledger_Regular.woff2") format("woff2"), url("../fonts/Ledger-Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Lobster";
    src: url("../fonts/Lobster_Regular.woff2") format("woff2"), url("../fonts/Lobster_Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
