.website_3-main{
    .container{
        background: url('../img/content/Website_3/BG.webp') 0px 0px/auto no-repeat;
        max-width: 1200px;
        height: 1000px;
        margin: 0 auto;
    }
}