.courses__question {
    margin-bottom: 8px;
}

.courses{
    padding-bottom: 177px;
}

.body-courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body-courses__text {
    padding-top: 32px;
}

.body-courses {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.body-courses__content {
    display: flex;
    flex-direction: row;
    width: 600px;
    max-height: 214px;
    background: #ffffff;
    border: 1px solid #e5e8ed;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
        0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
}

.body-courses__img {
    margin-right: 31px;
    & img {
        max-width: 100%;
    }
}

.body-courses__faculty {
    margin-bottom: 20px;
    & a {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #ffffff;
        min-width: 79px;
        min-height: 23px;
        border-radius: 4px;
    }
}

.body-courses__faculty_green a {
    background-color: #03cea4;
}

.body-courses__faculty_blue a {
    background-color: #5a87fc;
}

.body-courses__faculty_yellow a {
    background-color: #f89828;
}

.body-courses__faculty_pink a {
    background: #f52f6e;
}

.body-courses__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1e212c;
    margin-bottom: 20px;
}

.body-courses__price {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #ff4242;
}

.body-courses__name {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #787a80;
    & p::before {
        content: "|";
        display: inline-block;
        margin-right: 5px;
    }
}
