.header {
    background-color: #001019;
    .navbar {
        padding-top: 64px;
        padding-bottom: 64px;
        display: flex;
        flex-direction: row;
    }
    .navbar__logo {
        margin-right: 376px;
    }
}
